apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "wordpress.fullname" . }}-mysql
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  serviceName: {{ include "wordpress.fullname" . }}-mysql
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "wordpress.fullname" . }}-mysql
  template:
    metadata:
      labels:
        app: {{ include "wordpress.fullname" . }}-mysql
    spec:
      containers:
      - name: mysql
        image: "{{ .Values.image.mysql.repository }}:{{ .Values.image.mysql.tag }}"
        imagePullPolicy: {{ .Values.image.mysql.pullPolicy }}
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "wordpress.fullname" . }}-secret
              key: mysql-root-password
        - name: MYSQL_DATABASE
          value: "{{ .Values.mysql.database }}"
        - name: MYSQL_USER
          value: "{{ .Values.mysql.user }}"
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "wordpress.fullname" . }}-secret
              key: db-password
        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql
  volumeClaimTemplates:
  - metadata:
      name: mysql-data
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: {{ .Values.persistence.storageClass }}
      resources:
        requests:
          storage: 8Gi
